swagger: '2.0'
info:
  description: |-
    API to manage account access, authorization, communication and branding.

    See <a href="https://developer.pelion.com/docs/device-management/current/service-api-references/troubleshooting-the-apis.html">Troubleshooting the APIs</a> for information on status and error codes.

    See documentation for [all public APIs](https://developer.pelion.com/docs/device-management/current/service-api-references/service-api-documentation.html).
  version: v3
  title: Account Management API
host: api.us-east-1.mbedcloud.com
tags:
  - name: Account - profile
    description: Manage your organization account profile.
  - name: Account - access keys
    description: Manage access keys.
  - name: Account - API keys
    description: Manage API keys.
  - name: Account - applications
    description: Manage applications.
  - name: Account - email notification logs
    description: Fetch log of email notifications sent on important account events.
  - name: Account - identity providers
    description: Manage identity providers.
  - name: Account - entitlement limitations
    description: Fetch entitlement limitations for features, transactions and storage.
  - name: Account - policy groups
    description: Manage policy groups.
  - name: Account - user invitations
    description: Manage user invitations.
  - name: Account - users
    description: Manage users.
  - name: Security and identity - certificates
    description: Manage trusted certificates.
  - name: User interface configuration - colors
    description: Manage branding colors in the service portal UI.
  - name: User interface configuration - images
    description: Manage branding images in the service portal UI.
  - name: Tenant accounts - accounts
    description: Create a tenant account or manage profiles.
  - name: Tenant accounts - access keys
    description: Manage access keys of a tenant account.
  - name: Tenant accounts - API keys
    description: Manage API keys of a tenant account.
  - name: Tenant accounts - applications
    description: Manage applications of a tenant account.
  - name: Tenant accounts - identity providers
    description: Manage identity providers of a tenant account.
  - name: Tenant accounts - entitlement limitations
    description: Fetch entitlement limitations for features, transactions and storage of a tenant account.
  - name: Tenant accounts - policy groups
    description: Manage policy groups of a tenant account.
  - name: Tenant accounts - user invitations
    description: Manage user invitations of a tenant account.
  - name: Tenant accounts - users
    description: Manage users of a tenant account.
  - name: Tenant accounts - email notification logs
    description: Fetch email notifications sent on important events of a tenant account.
  - name: Tenant security and identity - certificates
    description: Manage trusted certificates of a tenant account.
  - name: Tenant user interface configuration - colors
    description: Manage branding colors in the service portal UI of a tenant account.
  - name: Tenant user interface configuration - images
    description: Manage branding images in the service portal UI of a tenant account.
schemes:
  - https
x-aliases:
  discovery_param: &discovery_param
    - in: query
      name: discovery
      description: 'Indicates that the OpenID Connect endpoints and keys should be set using the OpenID Connect Discovery mechanism. The following parameters are set automatically:
      * authorization_endpoint
      * token_endpoint
      * userinfo_endpoint
      * revocation_endpoint
      * jwks_uri
      * keys'
      type: boolean
      allowEmptyValue: true
  branding_colors: &branding_colors
    enum:
      - error_color
      - primary
      - secondary
      - success_color
      - warning_color
      - canvas_background
      - canvas_background_font_color
      - workspace_background
      - workspace_background_font_color
      - info_color
      - info_font_color
      - primary_font_color
      - secondary_font_color
      - error_font_color
      - success_font_color
      - warning_font_color
      - menu_background_color
      - menu_text_color
      - nav_menu_background
      - nav_menu_background_font_color
      - nav_menu_active_background
      - nav_menu_active_background_font_color
      - nav_menu_highlight
      - nav_menu_highlight_font_color
  branding_color_param: &branding_color_param
    - name: reference
      in: path
      description: The name of the branding color.
      required: true
      type: string
      <<: *branding_colors
  branding_images: &branding_images
    enum:
      - brand_logo_portrait
      - brand_logo_square
      - brand_logo_landscape
      - brand_logo_email
      - app_logo_landscape
      - app_logo_portrait
      - app_logo_square
      - desktop_background_landscape
      - desktop_background_square
      - desktop_background_portrait
      - carousel_image_portrait_0
      - carousel_image_portrait_1
      - carousel_image_portrait_2
      - carousel_image_portrait_3
      - carousel_image_portrait_4
      - carousel_image_portrait_5
      - carousel_image_portrait_6
      - carousel_image_portrait_7
      - carousel_image_portrait_8
      - carousel_image_portrait_9
      - carousel_image_square_0
      - carousel_image_square_1
      - carousel_image_square_2
      - carousel_image_square_3
      - carousel_image_square_4
      - carousel_image_square_5
      - carousel_image_square_6
      - carousel_image_square_7
      - carousel_image_square_8
      - carousel_image_square_9
      - carousel_image_landscape_0
      - carousel_image_landscape_1
      - carousel_image_landscape_2
      - carousel_image_landscape_3
      - carousel_image_landscape_4
      - carousel_image_landscape_5
      - carousel_image_landscape_6
      - carousel_image_landscape_7
      - carousel_image_landscape_8
      - carousel_image_landscape_9
  branding_image_param: &branding_image_param
    - name: reference
      in: path
      description: Name of the branding images (icon or picture).
      required: true
      type: string
      <<: *branding_images
  email_pattern: &email_pattern
    pattern: '^(?=.{3,254}$).+\@.+'
  username_pattern: &username_pattern
    pattern: '[\w\-,._@+=]{4,30}'

paths:
  /v3/accounts:
    get:
      tags:
        - Tenant accounts - accounts
      summary: Get all accounts.
      description: |-
        Retrieve an array of tenant accounts, optionally filtered by status and tier level.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccounts
      produces:
        - application/json
      parameters:
        - name: status__eq
          in: query
          description: 'An optional filter for account status, ENROLLING, ACTIVE, RESTRICTED, or SUSPENDED.'
          required: false
          type: string
        - name: status__in
          in: query
          description: An optional filter to retrieve accounts with a specified set of statuses.
          required: false
          type: string
        - name: status__nin
          in: query
          description: An optional filter to exclude accounts with a specified set of statuses.
          required: false
          type: string
        - name: tier__eq
          in: query
          description: 'An optional filter for tier level. Must be 0, 1, 2, 98, 99, or omitted.'
          required: false
          type: string
        - name: parent__eq
          in: query
          description: An optional filter for parent account ID.
          required: false
          type: string
        - name: end_market__eq
          in: query
          description: An optional filter for account end market.
          required: false
          type: string
        - name: country__like
          in: query
          description: 'An optional filter for account country. Finds all matches where the filter value is a case-insensitive substring of the result. Example: country__like=LAND matches Ireland.'
          required: false
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 1000.'
          required: false
          type: integer
          default: 1000
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: limits, policies, sub_accounts, history.'
          required: false
          type: string
        - name: format
          in: query
          description: 'Format information for the query response. Supported: format=breakdown.'
          required: false
          type: string
        - name: properties
          in: query
          description: Property name returned from account-specific properties.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountInfoList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - Tenant accounts - accounts
      summary: Create a new account.
      description: |-
        Create a new account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"display_name": "MyAccount1", "aliases": [ "my-account" ], "admin_name": "accountAdmin1", "email": "example_admin@myaccount.info", "country": "United Kingdom", "end_market": "Smart City", "address_line1": "110 Fulbourn Rd", "city": "Cambridge", "contact": "J. Doe", "company": "Arm"}'
        ```
      operationId: createAccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Details of the account to create.
          required: true
          schema:
            $ref: '#/definitions/AccountCreationReq'
        - name: action
          in: query
          description: |-
            Action, either `create` or `enroll`.
            <ul>
            <li>`create` creates the account where its admin user has ACTIVE status if `admin_password` was defined in the request, or RESET status if no `admin_password` was defined. If the user already exists, its status is not modified. </li>
            <li>`enroll` creates the account where its admin user has ENROLLING status. If the user already exists, its status is not modified. Email to finish enrollment or notify the existing user about the new account is sent to the `admin_email` defined in the request. </li></ul>
          required: false
          type: string
          default: create
      responses:
        '201':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountCreationResp'
        '400':
          description: 'Error in input data, for example, invalid username.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: Account with the specified alias exists already.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v3/accounts/me:
    get:
      tags:
        - Account - profile
      summary: Get account information.
      description: |-
        Retrieve information about the account.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/me?include=policies \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getMyAccountInfo
      produces:
        - application/json
      parameters:
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: limits, policies, sub_accounts.'
          required: false
          type: string
        - name: properties
          in: query
          description: Property name to return from account-specific properties.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountInfo'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Account - profile
      summary: Updates attributes of the account.
      description: |-
        Update the account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/me \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"phone_number": "12345678"}'
        ```
      operationId: updateMyAccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Details of the account to update.
          required: true
          schema:
            $ref: '#/definitions/AccountUpdateReq'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountInfo'
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v3/accounts/me/notifications:
    get:
      tags:
        - Account - email notification logs
      summary: Get logs of email notifications.
      description: Retrieve an array of email notification logs.
      operationId: getNofificationEntries
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/NotificationEntryList'
        '400':
          description: 'Error in input data, or missing or invalid parameters.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/me/notifications/{notification_id}':
    get:
      tags:
        - Account - email notification logs
      summary: Get an email notification.
      description: Retrieve an email notification log entry.
      operationId: getNofificationEntry
      produces:
        - application/json
      parameters:
        - name: notification_id
          in: path
          description: The ID of the log entry to be retrieved.
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/NotificationEntry'
        '400':
          description: 'Error in input data, missing or invalid parameters.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: No entry found for the given ID.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}':
    get:
      tags:
        - Tenant accounts - accounts
      summary: Get account information.
      description: |-
        Retrieve detailed information about an account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**

        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountInfo
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: limits, policies, sub_accounts, history.'
          required: false
          type: string
        - name: properties
          in: query
          description: Property name to return from account-specific properties.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountInfo'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account with the given ID not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant accounts - accounts
      summary: Update attributes of an existing account.
      description: |-
        Update an account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**

        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id} \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"phone_number": "12345678"}'
        ```
      operationId: updateAccount
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to update.
          required: true
          type: string
        - in: body
          name: body
          description: Details of the account to update.
          required: true
          schema:
            $ref: '#/definitions/AccountUpdateRootReq'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/AccountInfo'
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account with the given ID not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: Account with the specified new alias exists already.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/api-keys':
    get:
      tags:
        - Tenant accounts - API keys
      summary: Get all API keys.
      description: |-
        Retrieve an array of API keys, optionally filtered by the owner.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccountApiKeys
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
        - name: key__eq
          in: query
          description: API key filter. Do not include the private portion of the API key (the last 32 characters).
          required: false
          type: string
        - name: owner__eq
          in: query
          description: Owner name filter.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoRespList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account with the given ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys
        links: []
    post:
      tags:
        - Tenant accounts - API keys
      summary: Create a new API key.
      description: |-
        Create a new API key. There is no default value for the owner ID, and it must be from the same account where the new API key is created.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"name": "MyKey1"}'
        ```
      operationId: createAccountApiKey
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - in: body
          name: body
          description: Details of the API key to create.
          required: true
          schema:
            $ref: '#/definitions/ApiKeyInfoReq'
      responses:
        '201':
          description: New entity created.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: 'Error in input data, for example, missing API key name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account with the given ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys
        links: []
  '/v3/accounts/{account_id}/api-keys/{apikey_id}':
    get:
      tags:
        - Tenant accounts - API keys
      summary: Get API key details.
      description: |-
        Retrieve details of an API key.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id} \
         -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountApiKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id}
        links: []
    put:
      tags:
        - Tenant accounts - API keys
      summary: Update API key details.
      description: |-
        Update API key details.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id} \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"name": "TestApiKey25"}'
        ```
      operationId: updateAccountApiKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to update.
          required: true
          type: string
        - in: body
          name: body
          description: New API key attributes to be stored.
          required: true
          schema:
            $ref: '#/definitions/ApiKeyUpdateReq'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: 'Error in input data, for example, invalid API key name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account ID or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id}
        links: []
    delete:
      tags:
        - Tenant accounts - API keys
      summary: Delete the API key.
      description: |-
        Delete an API key.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: deleteAccountApiKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to delete.
          required: true
          type: string
      responses:
        '204':
          description: Deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id}
        links: []
  '/v3/accounts/{account_id}/api-keys/{apikey_id}/groups':
    get:
      tags:
        - Tenant accounts - API keys
      summary: Get policy groups of an API key.
      description: |-
        Retrieve an array of policy groups associated with an API key.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getGroupsOfAccountApikey
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/GroupSummaryList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/groups
        links: []
    post:
      tags:
        - Tenant accounts - API keys
      summary: Add API key to a list of groups.
      description: |-
        Add API key to groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: addAccountApiKeyToGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to add to the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of groups to update.
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: Error in input data.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: The API key is a member of the group already.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2019-07-11T11:04:57+00:00"
        end_of_life_at: "2020-07-11T11:04:57+00:00"
        comment: This endpoint is deprecated. Use POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/add/
        links: []
    delete:
      tags:
        - Tenant accounts - API keys
      summary: Remove API key from groups.
      description: |-
        Remove API key from groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: removeAccountApiKeyFromGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to remove from the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of the groups to update.
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: Error in input data.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2019-07-11T11:04:57+00:00"
        end_of_life_at: "2020-07-11T11:04:57+00:00"
        comment: This endpoint is deprecated. Use POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/remove/
        links: []
  '/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/add':
    post:
      tags:
        - Tenant accounts - API keys
      summary: Add API key to a list of groups.
      description: |-
        Add an API key to groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/add \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: addAccountApiKeyToListedGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the Account.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to add to the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of groups to update.
          required: true
          schema:
            $ref: '#/definitions/GroupIdList'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: Error in input data.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: The API key is a member of the group already.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/groups/add
        links: []
  '/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/remove':
    post:
      tags:
        - Tenant accounts - API keys
      summary: Remove API key from groups.
      description: |-
        Remove an API key from groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/groups/remove \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: removeAccountApiKeyFromListedGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to remove from the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of the groups to update.
          required: true
          schema:
            $ref: '#/definitions/GroupIdList'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: Error in input data.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated. Use GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/groups/remove
        links: []
  '/v3/accounts/{account_id}/api-keys/{apikey_id}/reset-secret':
    post:
      tags:
        - Tenant accounts - API keys
      summary: Reset the secret key.
      description: |-
        Reset the secret key of the API key.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/api-keys/{apikey_id}/reset-secret \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: resetAccountApiKeySecret
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: Account ID.
          required: true
          type: string
        - name: apikey_id
          in: path
          description: The ID of the API key to reset.
          required: true
          type: string
        - in: body
          name: body
          description: New API key attributes to be stored.
          required: false
          schema:
            $ref: '#/definitions/ApiKeyUpdateReq'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or API key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
      deprecated: true
      x-deprecation:
        issued_at: "2020-08-01T00:00:00+00:00"
        end_of_life_at: "2021-08-01T00:00:00+00:00"
        comment: This endpoint is deprecated.
        links: []
  '/v3/accounts/{account_id}/access-keys':
    get:
      tags:
        - Tenant accounts - access keys
      summary: Get all access keys.
      description: |-
        Retrieve an array of access keys.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/access-keys \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccountAccessKeys
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
        - name: status__eq
          in: query
          description: Status filter.
          required: false
          type: string
        - name: application_id__eq
          in: query
          description: Application filter.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKeyList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/access-keys/{access_key_id}':
    get:
      tags:
        - Tenant accounts - access keys
      summary: Get access key.
      description: |-
        Retrieve details of an access key.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/access-keys/{access_key_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountAccessKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: access_key_id
          in: path
          description: The ID of the access key to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or access key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /v3/accounts/{account_id}/applications:
    get:
      tags:
        - Tenant accounts - applications
      summary: Get all applications.
      description: |-
        Retrieve an array of applications.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccountApplications
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
        - name: status__eq
          in: query
          description: Status filter.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/ApplicationList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - Tenant accounts - applications
      summary: Create a new application.
      description: |-
        Create a new application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications -d '{"name": "MyApplication1"}' \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json'
        ```
      operationId: createAccountApplication
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - in: body
          name: body
          description: The details of the application to create.
          required: true
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/Application'
      responses:
        '201':
          description: New entity created.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/Application'
        '400':
          description: 'Error in input data, for example, missing name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}':
    get:
      tags:
        - Tenant accounts - applications
      summary: Get application.
      description: |-
        Retrieve details of an application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountApplication
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/Application'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant accounts - applications
      summary: Update application details.
      description: |-
        Update application details.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        `curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id} \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"name": "TestApplication25"}'
        ```
      operationId: updateAccountApplication
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application to update.
          required: true
          type: string
        - in: body
          name: body
          description: New applicationattributes to store.
          required: true
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/Application'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/ApiKeyInfoResp'
        '400':
          description: 'Error in input data, for example, invalid display name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant accounts - applications
      summary: Delete application.
      description: |-
        Delete the application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: deleteAccountApplication
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application to delete.
          required: true
          type: string
      responses:
        '204':
          description: Deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}/access-keys':
    get:
      tags:
        - Tenant accounts - applications
      summary: Get all access keys associated with the application.
      description: |-
        Retrieve an array of access keys associated with the application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccountApplicationAccessKeys
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
        - name: status__eq
          in: query
          description: Status filter.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKeyList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      tags:
        - Tenant accounts - applications
      summary: Create a new application access key.
      description: |-
        Create a new access key for the application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys -d '{"name": "MyKey1"}' \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json'
        ```
      operationId: createAccountApplicationAccessKey
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - in: body
          name: body
          description: The details of the access key to create.
          required: true
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
      responses:
        '201':
          description: New entity created.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
        '400':
          description: 'Error in input data, for example, missing display name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id}':
    get:
      tags:
        - Tenant accounts - applications
      summary: Get access key.
      description: |-
        Retrieve details of an access key associated with the application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountApplicationAccessKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - name: access_key_id
          in: path
          description: The ID of the access key to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account, application or access key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant accounts - applications
      summary: Update access key details.
      description: |-
        Update access key details.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        `curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id} \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{"name": "TestAccessKey"}'
        ```
      operationId: updateAccountApplicationAccessKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - name: access_key_id
          in: path
          description: The ID of the access key to update.
          required: true
          type: string
        - in: body
          name: body
          description: New access key attributes to store.
          required: true
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '../../api-common-definitions/iam.yaml#/definitions/AccessKey'
        '400':
          description: 'Error in input data, for example, invalid display name.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account, application or access key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant accounts - applications
      summary: Delete access key associated with the application.
      description: |-
        Delete the access key associated with the application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/access-keys/{access_key_id} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: deleteAccountApplicationAccessKey
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - name: access_key_id
          in: path
          description: The ID of the access key to delete.
          required: true
          type: string
      responses:
        '204':
          description: Deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account, application or access key with the specified ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}/groups':
    get:
      tags:
        - Tenant accounts - applications
      summary: Get policy groups of an application.
      description: |-
        Retrieve an array of policy groups associated with an application.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/groups \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getGroupsOfAccountApplication
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application.
          required: true
          type: string
        - name: limit
          in: query
          description: 'The number of results to return (2-1000). Default 50.'
          required: false
          type: integer
          default: 50
          format: int32
        - name: after
          in: query
          description: The entity ID to retrieve after the given one.
          required: false
          type: string
        - name: order
          in: query
          description: 'Record order based on creation. Acceptable values: ASC, DESC. Default: ASC.'
          required: false
          type: string
          default: ASC
        - name: include
          in: query
          description: 'Comma-separated additional data to return. Currently supported: total_count.'
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/GroupSummaryList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with the given ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}/groups/add':
    post:
      tags:
        - Tenant accounts - applications
      summary: Add application to a list of groups.
      description: |-
        Add application to groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/groups/add \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: addAccountApplicationToGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application to add to the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of the groups to update.
          required: true
          schema:
            $ref: '#/definitions/GroupIdList'
      responses:
        '204':
          description: Successful operation.
        '400':
          description: Error in input data.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account, a group or application with that ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: The application is a member of the group already.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/applications/{application_id}/groups/remove':
    post:
      tags:
        - Tenant accounts - applications
      summary: Remove application from groups.
      description: |-
        Remove application from groups.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/applications/{application_id}/groups/remove \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '["0162056a9a1586f30242590700000000","0117056a9a1586f30242590700000000"]'
        ```
      operationId: removeAccountApplicationFromGroups
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account to retrieve.
          required: true
          type: string
        - name: application_id
          in: path
          description: The ID of the application to remove from the group.
          required: true
          type: string
        - in: body
          name: body
          description: A list of IDs of the groups to update.
          required: true
          schema:
            $ref: '#/definitions/GroupIdList'
      responses:
        '204':
          description: Successful operation.
        '400':
          description: 'Error in input data, for example, invalid group ID.'
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: An account or application with that ID does not exist.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-colors':
    delete:
      tags:
        - Tenant user interface configuration - colors
      summary: Delete all colors.
      description: |-
        Delete account branding colors for all themes.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example usage:**
        `curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors -H 'Authorization: Bearer <access_key>'`
      operationId: deleteAllAccountColors
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '204':
          description: Colors have been deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account or branding colors not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-colors/dark':
    get:
      tags:
        - Tenant user interface configuration - colors
      summary: Get dark theme branding colors.
      description: |-
        Retrieve dark theme branding colors for an account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/dark \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountDarkColors
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingColorList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant user interface configuration - colors
      summary: Updates an array of dark theme branding colors.
      description: |-
        Update an array of dark theme branding colors.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id)/branding-colors/dark \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        '[{ "reference": "primary",
           "color": "#f3f93e" }]'
        ```
      operationId: bulkSetAccountDarkColors
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - in: body
          name: body
          description: List of branding colors.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/BrandingColorUpdate'
      responses:
        '204':
          description: Colors have been set successfully.
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant user interface configuration - colors
      summary: Delete colors in the dark theme.
      description: |-
        Delete account dark theme branding colors.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example usage:**
        `curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/dark -H 'Authorization: Bearer <access_key>'`
      operationId: deleteAllAccountDarkColors
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '204':
          description: Colors have been deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account or branding colors not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-colors/dark/{reference}':
    get:
      tags:
         - Tenant user interface configuration - colors
      summary: Get dark theme branding color.
      description: |-
        Retrieve the requested dark theme branding color.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/dark/{reference} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountDarkColor
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingColor'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant user interface configuration - colors
      summary: Updates a dark theme branding color.
      description: |-
        Update a dark theme branding color.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id)/branding-colors/dark/primary \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{ "color": "#f3f93e" }'
        ```
      operationId: setAccountDarkColor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
        - in: body
          name: body
          description: The branding color.
          required: true
          schema:
            $ref: '#/definitions/BrandingColor'
      responses:
        '200':
          description: Color has been set successfully.
          schema:
            $ref: '#/definitions/BrandingColor'
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant user interface configuration - colors
      summary: Reset branding color to default.
      description: |-
        Resets the branding color to its dark theme default.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/dark/{reference} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: resetAccountDarkColor
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
      responses:
        '204':
          description: Deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-colors/light':
    get:
      tags:
        - Tenant user interface configuration - colors
      summary: Get light theme branding colors.
      description: |-
        Retrieve light theme branding colors for an account.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/light \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountLightColors
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingColorList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant user interface configuration - colors
      summary: Updates an array of light theme branding colors.
      description: |-
        Update an array of light theme branding colors.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id)/branding-colors/light \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        '[{ "reference": "primary",
           "color": "purple" }]'
        ```
      operationId: bulkSetAccountLightColors
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - in: body
          name: body
          description: List of branding colors.
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/BrandingColorUpdate'
      responses:
        '204':
          description: Colors have been set successfully.
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant user interface configuration - colors
      summary: Delete colors in the light theme.
      description: |-
        Delete account light theme branding colors.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example usage:**
        `curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/light -H 'Authorization: Bearer <access_key>'`
      operationId: deleteAllAccountLightColors
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '204':
          description: Colors have been deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account or branding colors not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-colors/light/{reference}':
    get:
      tags:
        - Tenant user interface configuration - colors
      summary: Get light theme branding color.
      description: |-
        Retrieve the requested light theme branding color.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/light/{reference}
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountLightColor
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingColor'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
        - Tenant user interface configuration - colors
      summary: Updates light theme branding color.
      description: |-
        Update a light theme branding color.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X PUT https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id)/branding-colors/light/primary \
        -H 'Authorization: Bearer <access_key>' \
        -H 'content-type: application/json' \
        -d '{ "color": "purple" }'
        ```
      operationId: setAccountLightColor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
        - in: body
          name: body
          description: The branding color.
          required: true
          schema:
            $ref: '#/definitions/BrandingColor'
      responses:
        '200':
          description: Color set successfully.
          schema:
            $ref: '#/definitions/BrandingColor'
        '400':
          description: Error in input data format.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant user interface configuration - colors
      summary: Reset branding color to default.
      description: |-
        Resets the branding color to its light theme default.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-colors/light/{reference} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: resetAccountLightColor
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_color_param
      responses:
        '204':
          description: Deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Color or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-images':
    delete:
      tags:
        - Tenant user interface configuration - images
      summary: Delete all images.
      description: |-
        Delete account branding images for all themes.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example usage:**
        `curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images -H 'Authorization: Bearer <access_key>'`
      operationId: deleteAllAccountImages
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '204':
          description: Images have been deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account or branding images not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-images/dark':
    get:
      tags:
        - Tenant user interface configuration - images
      summary: Get metadata of all dark theme images.
      description: |-
        Retrieve the metadata of all dark theme branding images.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images/dark \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAllAccountDarkImageData
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingImageList'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
        - Tenant user interface configuration - images
      summary: Delete images in the dark theme.
      description: |-
        Delete account dark theme branding images.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example usage:**
        `curl -X DELETE https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images/dark -H 'Authorization: Bearer <access_key>'`
      operationId: deleteAllAccountDarkImages
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
      responses:
        '204':
          description: Images have been deleted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Account or branding images not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-images/dark/{reference}':
    get:
      tags:
        - Tenant user interface configuration - images
      summary: Get metadata of a dark theme image.
      description: |-
        Retrieve metadata of one account dark theme branding image.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X GET https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images/dark/{reference} \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: getAccountDarkImageData
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_image_param
      responses:
        '200':
          description: Successful operation.
          schema:
            $ref: '#/definitions/BrandingImage'
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Unknown image reference, or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-images/dark/{reference}/clear':
    post:
      tags:
        - Tenant user interface configuration - images
      summary: Revert an image to dark theme default.
      description: |-
        Revert an account branding image to dark theme default.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images/dark/{reference}/clear \
        -H 'Authorization: Bearer <access_key>'
        ```
      operationId: clearAccountDarkImage
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_image_param
      responses:
        '204':
          description: Image reverted successfully.
        '401':
          description: Authentication failure.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Unknown image reference, or account not found.
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/v3/accounts/{account_id}/branding-images/dark/{reference}/upload':
    post:
      tags:
        - Tenant user interface configuration - images
      summary: Upload a dark theme image.
      description: |-
        Upload a new account dark theme branding image in PNG or JPEG format.
        <b>Note:</b> This endpoint is restricted to administrators.

        **Example:**
        ```
        curl -X POST https://api.us-east-1.mbedcloud.com/v3/accounts/{account_id}/branding-images/dark/{reference}/upload \
        -H 'Authorization: Bearer <access_key>'
        -H 'content-type: image/png'  --data-binary '@myimage.png'
        ```
      operationId: uploadAccountDarkImage
      consumes:
        - image/png
        - image/jpeg
      produces:
        - application/json
      parameters:
        - name: account_id
          in: path
          description: The ID of the account.
          required: true
          type: string
        - <<: *branding_image_param
        - in: body
          name: body
          description: The image in PNG or JPEG format.
          required: true
          schema:
            $ref: '#/definitions/Image'
      responses:
        '201':
          description: Image uploaded successfully.
          headers:
            Location:
              type: string
              description: Location of the image binary.
            Content-Location:
              type: string
              description: Location of the image metadata.
          schema:
            $ref: '#/definitions/BrandingImage'
        '400':
          description: 'Error in input data format, for example, image is too large.'
          schema:
            $ref: '#/definitions/ErrorResponse'
[...]
