swagger: '2.0'
info:
  title: Connect CA API
  description: |-
    Connect CA API allows services to get device credentials.


    See <a href="https://www.pelion.com/docs/device-management/current/service-api-references/troubleshooting-the-apis.html">Troubleshooting the APIs</a> for information on status and error codes.

    See documentation for [all public APIs](https://www.pelion.com/docs/device-management/current/service-api-references/service-api-documentation.html).
  version: "3"
# the domain of the service
host: api.us-east-1.mbedcloud.com
tags:
  - name: Security and identity - developer class certificates
    description: Manage developer class certificates.
  - name: Security and identity - server credentials
    description: Fetch server credentials.
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
produces:
  - application/json
paths:
  /v3/developer-certificates:
    post:
      summary: Create a new developer certificate to connect to the bootstrap server.
      description: |-
        Create a developer certificate (a certificate that can be flashed to multiple devices to connect to the bootstrap server).

        **Note:** The number of developer certificates allowed per account is limited. Please see [Setting up a Certificate Authority](https://www.pelion.com/docs/device-management/current/provisioning-process/integrating-with-a-third-party-ca.html).

        **Example:**
        ```
        curl -X POST http://api.us-east-1.mbedcloud.com/v3/developer-certificates \
        -H "Authorization: Bearer <access_key>" \
        -H "content-type: application/json" \
        -d { "name": "<certificate_name>", "description": "<certificate_description>" }
        ```
      operationId: createDeveloperCertificate
      tags:
        - Security and identity - developer class certificates
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeveloperCertificateRequestData'
      responses:
        201:
          description: Developer certificate created successfully.
          schema:
            $ref: '#/definitions/DeveloperCertificateResponseData'
          examples:
            'Success':
              object: 'trusted-cert'
              id: '015fee4431fd38c98640fbfb00000000'
              etag: '1'
              created_at: '2017-12-11T14:22:20.009Z'
              account_id: '015fee5d9b3538c98640fbfb00000000'
              name: 'DeveloperCertificate'
              description: 'This certificate will be used with multiple developer devices.'
              developer_certificate: '-----BEGIN CERTIFICATE-----\nMIICcDCCAhWgAwIBAgIRAPSBbBtLUE/ekQcWE4GzPJEwCgYIKoZIzj0EAwIwgaIx\nCzAJBgNVBAYTAkdCMRcwFQYDVQQIDA5DYW1icmlkZ2VzaGlyZTESMBAGA1UEBwwJ\nQ2FtYnJpZGdlMRAwDgYDVQQKDAdBUk0gTHRkMSkwJwYDVQQLDCAwMTU4NDNlMzJl\nYzkwMjQyMGEwMTVlMDcwMDAwMDAwMDEpMCcGA1UEAwwgMDE2MWRiYmNkZDY2MGE1\nODBhMDEwYzM0MDNjMDAwMDAwHhcNMTgwMjI4MDkyNzIzWhcNMjgwMjI4MDkyNzIz\nWjCBojELMAkGA1UEBhMCR0IxFzAVBgNVBAgMDkNhbWJyaWRnZXNoaXJlMRIwEAYD\nVQQHDAlDYW1icmlkZ2UxEDAOBgNVBAoMB0FSTSBMdGQxKTAnBgNVBAsMIDAxNTg0\nM2UzMmVjOTAyNDIwYTAxNWUwNzAwMDAwMDAwMSkwJwYDVQQDDCAwMTYxZGJiY2Rk\nNjYwYTU4MGEwMTBjMzQwM2MwMDAwMDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IA\nBEScLDbOXvOb903AYlI9ow8E4hbLSHJPt5E2BO4Q4bHOpuWH2Oh6P+CDPte9pAv3\nE6g90Xk/ZcZpQ+xBO6qci/ajKjAoMBIGCSsGAQQBoCCBSQQFAgNAAJEwEgYDVR0T\nAQH/BAgwBgEB/wIBADAKBggqhkjOPQQDAgNJADBGAiEAsi9zSK8Njl22GoEHrsg8\nQlwFnrkkP9d6FyLFtmqndt4CIQCmVHwisYNcCkqD2SWctG1xQHo0HZePAQW8PstM\nzhNupQ==\n-----END CERTIFICATE-----\n'
              developer_private_key: '-----BEGIN PRIVATE KEY-----\nMIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgeKc97aC1Z4aniXVG\njNSvvXw2hl6zwACYIs88OKQx61GgCgYIKoZIzj0DAQehRANCAAREnCw2zl7zm/dN\nwGJSPaMPBOIWy0hyT7eRNgTuEOGxzqblh9joej/ggz7XvaQL9xOoPdF5P2XGaUPs\nQTuqnIv2\n-----END PRIVATE KEY-----\n'
              security_file_content: '/*\n * Copyright (c) 2017 ARM Limited. All rights reserved.\n * SPDX-License-Identifier: Apache-2.0\n * Licensed under the Apache License, Version 2.0 (the License); you may\n * not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an AS IS BASIS, WITHOUT\n * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */\n#ifndef __MBED_CLOUD_DEV_CREDENTIALS_H__\n#define __MBED_CLOUD_DEV_CREDENTIALS_H__\n\n#include <inttypes.h>\n\nconst char MBED_CLOUD_DEV_BOOTSTRAP_ENDPOINT_NAME[] = \"0161dbbcdd660a580a010c3403c00000\";\nconst char MBED_CLOUD_DEV_ACCOUNT_ID[] = \"015843e32ec902420a015e0700000000\";\nconst char MBED_CLOUD_DEV_BOOTSTRAP_SERVER_URI[] = \"coaps://coap-integration-lab.dev.mbed.com:5684?aid=015843e32ec902420a015e0700000000\";\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x70, 0x30, 0x82, 0x02, 0x15,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x11, 0x00,\n 0xf4, 0x81, 0x6c, 0x1b, 0x4b, 0x50, 0x4f, 0xde,\n 0x91, 0x07, 0x16, 0x13, 0x81, 0xb3, 0x3c, 0x91,\n 0x30, 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x04, 0x03, 0x02, 0x30, 0x81, 0xa2, 0x31,\n 0x0b, 0x30, 0x09, 0x06, 0x03, 0x55, 0x04, 0x06,\n 0x13, 0x02, 0x47, 0x42, 0x31, 0x17, 0x30, 0x15,\n 0x06, 0x03, 0x55, 0x04, 0x08, 0x0c, 0x0e, 0x43,\n 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65,\n 0x73, 0x68, 0x69, 0x72, 0x65, 0x31, 0x12, 0x30,\n 0x10, 0x06, 0x03, 0x55, 0x04, 0x07, 0x0c, 0x09,\n 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67,\n 0x65, 0x31, 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55,\n 0x04, 0x0a, 0x0c, 0x07, 0x41, 0x52, 0x4d, 0x20,\n 0x4c, 0x74, 0x64, 0x31, 0x29, 0x30, 0x27, 0x06,\n 0x03, 0x55, 0x04, 0x0b, 0x0c, 0x20, 0x30, 0x31,\n 0x35, 0x38, 0x34, 0x33, 0x65, 0x33, 0x32, 0x65,\n 0x63, 0x39, 0x30, 0x32, 0x34, 0x32, 0x30, 0x61,\n 0x30, 0x31, 0x35, 0x65, 0x30, 0x37, 0x30, 0x30,\n 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x31, 0x29,\n 0x30, 0x27, 0x06, 0x03, 0x55, 0x04, 0x03, 0x0c,\n 0x20, 0x30, 0x31, 0x36, 0x31, 0x64, 0x62, 0x62,\n 0x63, 0x64, 0x64, 0x36, 0x36, 0x30, 0x61, 0x35,\n 0x38, 0x30, 0x61, 0x30, 0x31, 0x30, 0x63, 0x33,\n 0x34, 0x30, 0x33, 0x63, 0x30, 0x30, 0x30, 0x30,\n 0x30, 0x30, 0x1e, 0x17, 0x0d, 0x31, 0x38, 0x30,\n 0x32, 0x32, 0x38, 0x30, 0x39, 0x32, 0x37, 0x32,\n 0x33, 0x5a, 0x17, 0x0d, 0x32, 0x38, 0x30, 0x32,\n 0x32, 0x38, 0x30, 0x39, 0x32, 0x37, 0x32, 0x33,\n 0x5a, 0x30, 0x81, 0xa2, 0x31, 0x0b, 0x30, 0x09,\n 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02, 0x47,\n 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03, 0x55,\n 0x04, 0x08, 0x0c, 0x0e, 0x43, 0x61, 0x6d, 0x62,\n 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68, 0x69,\n 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06, 0x03,\n 0x55, 0x04, 0x07, 0x0c, 0x09, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31, 0x10,\n 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a, 0x0c,\n 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74, 0x64,\n 0x31, 0x29, 0x30, 0x27, 0x06, 0x03, 0x55, 0x04,\n 0x0b, 0x0c, 0x20, 0x30, 0x31, 0x35, 0x38, 0x34,\n 0x33, 0x65, 0x33, 0x32, 0x65, 0x63, 0x39, 0x30,\n 0x32, 0x34, 0x32, 0x30, 0x61, 0x30, 0x31, 0x35,\n 0x65, 0x30, 0x37, 0x30, 0x30, 0x30, 0x30, 0x30,\n 0x30, 0x30, 0x30, 0x31, 0x29, 0x30, 0x27, 0x06,\n 0x03, 0x55, 0x04, 0x03, 0x0c, 0x20, 0x30, 0x31,\n 0x36, 0x31, 0x64, 0x62, 0x62, 0x63, 0x64, 0x64,\n 0x36, 0x36, 0x30, 0x61, 0x35, 0x38, 0x30, 0x61,\n 0x30, 0x31, 0x30, 0x63, 0x33, 0x34, 0x30, 0x33,\n 0x63, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x59,\n 0x30, 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48,\n 0xce, 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42, 0x00,\n 0x04, 0x44, 0x9c, 0x2c, 0x36, 0xce, 0x5e, 0xf3,\n 0x9b, 0xf7, 0x4d, 0xc0, 0x62, 0x52, 0x3d, 0xa3,\n 0x0f, 0x04, 0xe2, 0x16, 0xcb, 0x48, 0x72, 0x4f,\n 0xb7, 0x91, 0x36, 0x04, 0xee, 0x10, 0xe1, 0xb1,\n 0xce, 0xa6, 0xe5, 0x87, 0xd8, 0xe8, 0x7a, 0x3f,\n 0xe0, 0x83, 0x3e, 0xd7, 0xbd, 0xa4, 0x0b, 0xf7,\n 0x13, 0xa8, 0x3d, 0xd1, 0x79, 0x3f, 0x65, 0xc6,\n 0x69, 0x43, 0xec, 0x41, 0x3b, 0xaa, 0x9c, 0x8b,\n 0xf6, 0xa3, 0x2a, 0x30, 0x28, 0x30, 0x12, 0x06,\n 0x09, 0x2b, 0x06, 0x01, 0x04, 0x01, 0xa0, 0x20,\n 0x81, 0x49, 0x04, 0x05, 0x02, 0x03, 0x40, 0x00,\n 0x91, 0x30, 0x12, 0x06, 0x03, 0x55, 0x1d, 0x13,\n 0x01, 0x01, 0xff, 0x04, 0x08, 0x30, 0x06, 0x01,\n 0x01, 0xff, 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06,\n 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03,\n 0x02, 0x03, 0x49, 0x00, 0x30, 0x46, 0x02, 0x21,\n 0x00, 0xb2, 0x2f, 0x73, 0x48, 0xaf, 0x0d, 0x8e,\n 0x5d, 0xb6, 0x1a, 0x81, 0x07, 0xae, 0xc8, 0x3c,\n 0x42, 0x5c, 0x05, 0x9e, 0xb9, 0x24, 0x3f, 0xd7,\n 0x7a, 0x17, 0x22, 0xc5, 0xb6, 0x6a, 0xa7, 0x76,\n 0xde, 0x02, 0x21, 0x00, 0xa6, 0x54, 0x7c, 0x22,\n 0xb1, 0x83, 0x5c, 0x0a, 0x4a, 0x83, 0xd9, 0x25,\n 0x9c, 0xb4, 0x6d, 0x71, 0x40, 0x7a, 0x34, 0x1d,\n 0x97, 0x8f, 0x01, 0x05, 0xbc, 0x3e, 0xcb, 0x4c,\n 0xce, 0x13, 0x6e, 0xa5 };\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x35, 0x30, 0x82, 0x01, 0xdb,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x10, 0x5c,\n 0x27, 0xa5, 0x76, 0x7d, 0x58, 0x85, 0x8a, 0x43,\n 0x91, 0xa0, 0x61, 0xab, 0xcf, 0xa6, 0x59, 0x30,\n 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x04, 0x03, 0x02, 0x30, 0x72, 0x31, 0x0b, 0x30,\n 0x09, 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02,\n 0x47, 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03,\n 0x55, 0x04, 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68,\n 0x69, 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06,\n 0x03, 0x55, 0x04, 0x07, 0x13, 0x09, 0x43, 0x61,\n 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31,\n 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a,\n 0x13, 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74,\n 0x64, 0x31, 0x24, 0x30, 0x22, 0x06, 0x03, 0x55,\n 0x04, 0x03, 0x13, 0x1b, 0x41, 0x52, 0x4d, 0x20,\n 0x49, 0x6e, 0x74, 0x65, 0x67, 0x72, 0x61, 0x74,\n 0x69, 0x6f, 0x6e, 0x20, 0x42, 0x6f, 0x6f, 0x74,\n 0x73, 0x74, 0x72, 0x61, 0x70, 0x43, 0x41, 0x30,\n 0x20, 0x17, 0x0d, 0x31, 0x37, 0x30, 0x35, 0x31,\n 0x35, 0x31, 0x39, 0x34, 0x39, 0x31, 0x31, 0x5a,\n 0x18, 0x0f, 0x32, 0x30, 0x35, 0x32, 0x30, 0x35,\n 0x31, 0x35, 0x31, 0x39, 0x35, 0x39, 0x31, 0x30,\n 0x5a, 0x30, 0x72, 0x31, 0x0b, 0x30, 0x09, 0x06,\n 0x03, 0x55, 0x04, 0x06, 0x13, 0x02, 0x47, 0x42,\n 0x31, 0x17, 0x30, 0x15, 0x06, 0x03, 0x55, 0x04,\n 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d, 0x62, 0x72,\n 0x69, 0x64, 0x67, 0x65, 0x73, 0x68, 0x69, 0x72,\n 0x65, 0x31, 0x12, 0x30, 0x10, 0x06, 0x03, 0x55,\n 0x04, 0x07, 0x13, 0x09, 0x43, 0x61, 0x6d, 0x62,\n 0x72, 0x69, 0x64, 0x67, 0x65, 0x31, 0x10, 0x30,\n 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a, 0x13, 0x07,\n 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74, 0x64, 0x31,\n 0x24, 0x30, 0x22, 0x06, 0x03, 0x55, 0x04, 0x03,\n 0x13, 0x1b, 0x41, 0x52, 0x4d, 0x20, 0x49, 0x6e,\n 0x74, 0x65, 0x67, 0x72, 0x61, 0x74, 0x69, 0x6f,\n 0x6e, 0x20, 0x42, 0x6f, 0x6f, 0x74, 0x73, 0x74,\n 0x72, 0x61, 0x70, 0x43, 0x41, 0x30, 0x59, 0x30,\n 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42, 0x00, 0x04,\n 0x8b, 0x7c, 0x86, 0xc3, 0x88, 0x54, 0xe6, 0x5f,\n 0xe0, 0x57, 0x4e, 0x1b, 0xac, 0x29, 0x82, 0xea,\n 0x7d, 0x91, 0x00, 0x63, 0xa7, 0x4a, 0x05, 0xbc,\n 0x54, 0xc5, 0x71, 0x27, 0x33, 0x19, 0x1b, 0x2e,\n 0xfa, 0x41, 0xf8, 0x7a, 0x9a, 0x0c, 0x5d, 0xfc,\n 0xb3, 0x37, 0x01, 0x99, 0xc5, 0xc9, 0xbe, 0x78,\n 0x5b, 0x1d, 0xec, 0xb0, 0x1a, 0x1d, 0xdc, 0xe4,\n 0x6f, 0x57, 0x04, 0xf4, 0x3a, 0xca, 0xa8, 0xd2,\n 0xa3, 0x51, 0x30, 0x4f, 0x30, 0x0b, 0x06, 0x03,\n 0x55, 0x1d, 0x0f, 0x04, 0x04, 0x03, 0x02, 0x01,\n 0x86, 0x30, 0x0f, 0x06, 0x03, 0x55, 0x1d, 0x13,\n 0x01, 0x01, 0xff, 0x04, 0x05, 0x30, 0x03, 0x01,\n 0x01, 0xff, 0x30, 0x1d, 0x06, 0x03, 0x55, 0x1d,\n 0x0e, 0x04, 0x16, 0x04, 0x14, 0x13, 0xef, 0x69,\n 0xfa, 0x62, 0x3f, 0x00, 0x86, 0xf4, 0x05, 0xb8,\n 0xb6, 0xe6, 0xb2, 0xf1, 0xdb, 0x69, 0x10, 0xb4,\n 0x39, 0x30, 0x10, 0x06, 0x09, 0x2b, 0x06, 0x01,\n 0x04, 0x01, 0x82, 0x37, 0x15, 0x01, 0x04, 0x03,\n 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06, 0x08, 0x2a,\n 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03, 0x02, 0x03,\n 0x48, 0x00, 0x30, 0x45, 0x02, 0x21, 0x00, 0xa2,\n 0x50, 0x88, 0x0f, 0x55, 0xe8, 0x26, 0x49, 0xe6,\n 0xf5, 0x71, 0x86, 0x33, 0x29, 0x05, 0x4c, 0xf9,\n 0xfd, 0x1f, 0x14, 0x98, 0x92, 0x85, 0xd9, 0x5c,\n 0x48, 0x02, 0x9e, 0xc2, 0x79, 0xa8, 0x59, 0x02,\n 0x20, 0x3e, 0xfe, 0x3c, 0xa0, 0xbf, 0xd3, 0x0f,\n 0x15, 0x83, 0x56, 0xbc, 0xf2, 0xfa, 0x16, 0x26,\n 0x7a, 0xc1, 0x68, 0xaa, 0xbc, 0x91, 0x3c, 0x69,\n 0x44, 0x36, 0xf9, 0x74, 0xa1, 0x82, 0x76, 0x7a,\n 0x6e };\n\nconst uint8_t MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x30, 0x30, 0x82, 0x01, 0xd5,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x10, 0x26,\n 0xf9, 0x08, 0xfc, 0xf1, 0xc0, 0x46, 0xa4, 0x4a,\n 0x4d, 0x2c, 0xf1, 0x94, 0x27, 0xf9, 0x1f, 0x30,\n 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x04, 0x03, 0x02, 0x30, 0x6f, 0x31, 0x0b, 0x30,\n 0x09, 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02,\n 0x47, 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03,\n 0x55, 0x04, 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68,\n 0x69, 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06,\n 0x03, 0x55, 0x04, 0x07, 0x13, 0x09, 0x43, 0x61,\n 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31,\n 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a,\n 0x13, 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74,\n 0x64, 0x31, 0x21, 0x30, 0x1f, 0x06, 0x03, 0x55,\n 0x04, 0x03, 0x13, 0x18, 0x41, 0x52, 0x4d, 0x20,\n 0x49, 0x6e, 0x74, 0x65, 0x67, 0x72, 0x61, 0x74,\n 0x69, 0x6f, 0x6e, 0x20, 0x4c, 0x57, 0x4d, 0x32,\n 0x4d, 0x20, 0x43, 0x41, 0x30, 0x20, 0x17, 0x0d,\n 0x31, 0x37, 0x30, 0x32, 0x31, 0x32, 0x31, 0x30,\n 0x33, 0x37, 0x35, 0x32, 0x5a, 0x18, 0x0f, 0x32,\n 0x30, 0x35, 0x32, 0x30, 0x32, 0x31, 0x32, 0x31,\n 0x30, 0x34, 0x37, 0x35, 0x32, 0x5a, 0x30, 0x6f,\n 0x31, 0x0b, 0x30, 0x09, 0x06, 0x03, 0x55, 0x04,\n 0x06, 0x13, 0x02, 0x47, 0x42, 0x31, 0x17, 0x30,\n 0x15, 0x06, 0x03, 0x55, 0x04, 0x08, 0x13, 0x0e,\n 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67,\n 0x65, 0x73, 0x68, 0x69, 0x72, 0x65, 0x31, 0x12,\n 0x30, 0x10, 0x06, 0x03, 0x55, 0x04, 0x07, 0x13,\n 0x09, 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64,\n 0x67, 0x65, 0x31, 0x10, 0x30, 0x0e, 0x06, 0x03,\n 0x55, 0x04, 0x0a, 0x13, 0x07, 0x41, 0x52, 0x4d,\n 0x20, 0x4c, 0x74, 0x64, 0x31, 0x21, 0x30, 0x1f,\n 0x06, 0x03, 0x55, 0x04, 0x03, 0x13, 0x18, 0x41,\n 0x52, 0x4d, 0x20, 0x49, 0x6e, 0x74, 0x65, 0x67,\n 0x72, 0x61, 0x74, 0x69, 0x6f, 0x6e, 0x20, 0x4c,\n 0x57, 0x4d, 0x32, 0x4d, 0x20, 0x43, 0x41, 0x30,\n 0x59, 0x30, 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48,\n 0xce, 0x3d, 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86,\n 0x48, 0xce, 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42,\n 0x00, 0x04, 0xba, 0xea, 0x80, 0x01, 0x2d, 0xf0,\n 0xe1, 0xb6, 0xc5, 0x5f, 0xf9, 0x76, 0x84, 0x31,\n 0xa9, 0x29, 0xa1, 0xc7, 0xa8, 0xfd, 0xa0, 0xad,\n 0xd9, 0x94, 0xe7, 0xec, 0x5a, 0x33, 0xa1, 0x2c,\n 0x8e, 0x36, 0x43, 0x9b, 0x18, 0xdf, 0xce, 0x71,\n 0x14, 0x24, 0xb1, 0xfb, 0x16, 0x34, 0x0e, 0x43,\n 0xfc, 0x23, 0x77, 0xd4, 0x13, 0xd7, 0x11, 0xaa,\n 0x39, 0x60, 0xab, 0xa2, 0xdf, 0x24, 0xb3, 0xeb,\n 0xa0, 0xc5, 0xa3, 0x51, 0x30, 0x4f, 0x30, 0x0b,\n 0x06, 0x03, 0x55, 0x1d, 0x0f, 0x04, 0x04, 0x03,\n 0x02, 0x01, 0x86, 0x30, 0x0f, 0x06, 0x03, 0x55,\n 0x1d, 0x13, 0x01, 0x01, 0xff, 0x04, 0x05, 0x30,\n 0x03, 0x01, 0x01, 0xff, 0x30, 0x1d, 0x06, 0x03,\n 0x55, 0x1d, 0x0e, 0x04, 0x16, 0x04, 0x14, 0x7b,\n 0xa1, 0xa5, 0x94, 0xa5, 0xe5, 0x8f, 0x95, 0x5d,\n 0xd4, 0xce, 0xdc, 0x0f, 0x8a, 0xbe, 0xad, 0x9a,\n 0x6b, 0x66, 0x3e, 0x30, 0x10, 0x06, 0x09, 0x2b,\n 0x06, 0x01, 0x04, 0x01, 0x82, 0x37, 0x15, 0x01,\n 0x04, 0x03, 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06,\n 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03,\n 0x02, 0x03, 0x49, 0x00, 0x30, 0x46, 0x02, 0x21,\n 0x00, 0xd2, 0x06, 0x28, 0xc5, 0x31, 0x3a, 0x11,\n 0x8d, 0xb6, 0xcb, 0x2b, 0x3f, 0xdd, 0x2a, 0x9a,\n 0x13, 0x30, 0x52, 0x77, 0xaa, 0xda, 0xda, 0xcb,\n 0xce, 0xb9, 0x5c, 0xe4, 0x32, 0x1c, 0x02, 0xfa,\n 0x30, 0x02, 0x21, 0x00, 0xb3, 0x82, 0x24, 0xa2,\n 0xb1, 0x67, 0x6b, 0x69, 0x07, 0x0e, 0xcd, 0x77,\n 0x74, 0x99, 0x06, 0x9c, 0x59, 0xb2, 0x00, 0xc0,\n 0xb3, 0xbb, 0x37, 0x5b, 0xc0, 0x1b, 0xfb, 0xd9,\n 0x70, 0x98, 0xb9, 0x1e };\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY[] = \n{ 0x30, 0x81, 0x93, 0x02, 0x01, 0x00, 0x30, 0x13,\n 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x02,\n 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x03, 0x01, 0x07, 0x04, 0x79, 0x30, 0x77, 0x02,\n 0x01, 0x01, 0x04, 0x20, 0x78, 0xa7, 0x3d, 0xed,\n 0xa0, 0xb5, 0x67, 0x86, 0xa7, 0x89, 0x75, 0x46,\n 0x8c, 0xd4, 0xaf, 0xbd, 0x7c, 0x36, 0x86, 0x5e,\n 0xb3, 0xc0, 0x00, 0x98, 0x22, 0xcf, 0x3c, 0x38,\n 0xa4, 0x31, 0xeb, 0x51, 0xa0, 0x0a, 0x06, 0x08,\n 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x03, 0x01, 0x07,\n 0xa1, 0x44, 0x03, 0x42, 0x00, 0x04, 0x44, 0x9c,\n 0x2c, 0x36, 0xce, 0x5e, 0xf3, 0x9b, 0xf7, 0x4d,\n 0xc0, 0x62, 0x52, 0x3d, 0xa3, 0x0f, 0x04, 0xe2,\n 0x16, 0xcb, 0x48, 0x72, 0x4f, 0xb7, 0x91, 0x36,\n 0x04, 0xee, 0x10, 0xe1, 0xb1, 0xce, 0xa6, 0xe5,\n 0x87, 0xd8, 0xe8, 0x7a, 0x3f, 0xe0, 0x83, 0x3e,\n 0xd7, 0xbd, 0xa4, 0x0b, 0xf7, 0x13, 0xa8, 0x3d,\n 0xd1, 0x79, 0x3f, 0x65, 0xc6, 0x69, 0x43, 0xec,\n 0x41, 0x3b, 0xaa, 0x9c, 0x8b, 0xf6 };\n\nconst char MBED_CLOUD_DEV_MANUFACTURER[] = \"dev_manufacturer\";\n\nconst char MBED_CLOUD_DEV_MODEL_NUMBER[] = \"dev_model_num\";\n\nconst char MBED_CLOUD_DEV_SERIAL_NUMBER[] = \"0\";\n\nconst char MBED_CLOUD_DEV_DEVICE_TYPE[] = \"dev_device_type\";\n\nconst char MBED_CLOUD_DEV_HARDWARE_VERSION[] = \"dev_hardware_version\";\n\nconst uint32_t MBED_CLOUD_DEV_MEMORY_TOTAL_KB = 0;\n\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY);\n\n#endif //__MBED_CLOUD_DEV_CREDENTIALS_H__\n'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Bad Request Error':
              object: 'error'
              code: 400
              type: 'validation_error'
              message: 'Bad Request. Missing certificate name.'
              request_id: '015fee4431fd38c98640fbfb00000000'
              fields:
                name: 'name'
                message: 'Missing certificate name.'
        401:
          description: Invalid access token.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 401
              type: 'invalid_auth'
              message: 'Invalid access token.'
              request_id: '015fee4431fd38c98640fbfb00000000'
        403:
          description: The maximum number of developer certificates for the given account has already been reached.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Account Limit Exceeded Error':
              object: 'error'
              code: 403
              type: 'account_limit_exceeded'
              message: 'Forbidden. Limit for the number of certificates exceeded.'
              request_id: '015fee4431fd38c98640fbfb00000000'
              fields:
                name: 'cert-count'
                message: '10'
        409:
          description: Certificate with the given name already exists.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Duplicate Error':
              object: 'error'
              code: 409
              type: 'duplicate'
              message: 'Conflict. Certificate already exists.'
              request_id: '015fee4431fd38c98640fbfb00000000'
              fields:
                name: 'certificate'
                message: 'Certificate already exists.'


  /v3/developer-certificates/{developerCertificateId}:
    get:
      summary: Fetch an existing developer certificate to connect to the bootstrap server.
      description: |-
        Return an existing developer certificate (a certificate that can be flashed to multiple devices to connect to bootstrap server).

        **Example:**
        ```
        curl -X GET http://api.us-east-1.mbedcloud.com/v3/developer-certificates/THE_CERTIFICATE_ID \
        -H "Authorization: Bearer <access_key>"
        ```
      operationId: getDeveloperCertificate
      tags:
        - Security and identity - developer class certificates
      produces:
        - application/json
      parameters:
        - name: developerCertificateId
          in: path
          description: |-
            A unique identifier for the developer certificate.
          required: true
          type: string
      responses:
        200:
          description: Developer certificate returned successfully.
          schema:
            $ref: '#/definitions/DeveloperCertificateResponseData'
          examples:
            'Success':
              object: 'trusted-cert'
              id: '015fee4431fd38c98640fbfb00000000'
              etag: '1'
              created_at: '2017-12-11T14:22:20.009Z'
              account_id: '015fee5d9b3538c98640fbfb00000000'
              name: 'DeveloperCertificate'
              description: 'This certificate applies to multiple developer devices.'
              developer_certificate: '-----BEGIN CERTIFICATE-----\nMIICcDCCAhWgAwIBAgIRAPSBbBtLUE/ekQcWE4GzPJEwCgYIKoZIzj0EAwIwgaIx\nCzAJBgNVBAYTAkdCMRcwFQYDVQQIDA5DYW1icmlkZ2VzaGlyZTESMBAGA1UEBwwJ\nQ2FtYnJpZGdlMRAwDgYDVQQKDAdBUk0gTHRkMSkwJwYDVQQLDCAwMTU4NDNlMzJl\nYzkwMjQyMGEwMTVlMDcwMDAwMDAwMDEpMCcGA1UEAwwgMDE2MWRiYmNkZDY2MGE1\nODBhMDEwYzM0MDNjMDAwMDAwHhcNMTgwMjI4MDkyNzIzWhcNMjgwMjI4MDkyNzIz\nWjCBojELMAkGA1UEBhMCR0IxFzAVBgNVBAgMDkNhbWJyaWRnZXNoaXJlMRIwEAYD\nVQQHDAlDYW1icmlkZ2UxEDAOBgNVBAoMB0FSTSBMdGQxKTAnBgNVBAsMIDAxNTg0\nM2UzMmVjOTAyNDIwYTAxNWUwNzAwMDAwMDAwMSkwJwYDVQQDDCAwMTYxZGJiY2Rk\nNjYwYTU4MGEwMTBjMzQwM2MwMDAwMDBZMBMGByqGSM49AgEGCCqGSM49AwEHA0IA\nBEScLDbOXvOb903AYlI9ow8E4hbLSHJPt5E2BO4Q4bHOpuWH2Oh6P+CDPte9pAv3\nE6g90Xk/ZcZpQ+xBO6qci/ajKjAoMBIGCSsGAQQBoCCBSQQFAgNAAJEwEgYDVR0T\nAQH/BAgwBgEB/wIBADAKBggqhkjOPQQDAgNJADBGAiEAsi9zSK8Njl22GoEHrsg8\nQlwFnrkkP9d6FyLFtmqndt4CIQCmVHwisYNcCkqD2SWctG1xQHo0HZePAQW8PstM\nzhNupQ==\n-----END CERTIFICATE-----\n'
              developer_private_key: '-----BEGIN PRIVATE KEY-----\nMIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQgeKc97aC1Z4aniXVG\njNSvvXw2hl6zwACYIs88OKQx61GgCgYIKoZIzj0DAQehRANCAAREnCw2zl7zm/dN\nwGJSPaMPBOIWy0hyT7eRNgTuEOGxzqblh9joej/ggz7XvaQL9xOoPdF5P2XGaUPs\nQTuqnIv2\n-----END PRIVATE KEY-----\n'
              security_file_content: '/*\n * Copyright (c) 2017 ARM Limited. All rights reserved.\n * SPDX-License-Identifier: Apache-2.0\n * Licensed under the Apache License, Version 2.0 (the License); you may\n * not use this file except in compliance with the License.\n * You may obtain a copy of the License at\n *\n * http://www.apache.org/licenses/LICENSE-2.0\n *\n * Unless required by applicable law or agreed to in writing, software\n * distributed under the License is distributed on an AS IS BASIS, WITHOUT\n * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n * See the License for the specific language governing permissions and\n * limitations under the License.\n */\n#ifndef __MBED_CLOUD_DEV_CREDENTIALS_H__\n#define __MBED_CLOUD_DEV_CREDENTIALS_H__\n\n#include <inttypes.h>\n\nconst char MBED_CLOUD_DEV_BOOTSTRAP_ENDPOINT_NAME[] = \"0161dbbcdd660a580a010c3403c00000\";\nconst char MBED_CLOUD_DEV_ACCOUNT_ID[] = \"015843e32ec902420a015e0700000000\";\nconst char MBED_CLOUD_DEV_BOOTSTRAP_SERVER_URI[] = \"coaps://coap.us-east-1.mbedcloud.com:5684?aid=015843e32ec902420a015e0700000000\";\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x70, 0x30, 0x82, 0x02, 0x15,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x11, 0x00,\n 0xf4, 0x81, 0x6c, 0x1b, 0x4b, 0x50, 0x4f, 0xde,\n 0x91, 0x07, 0x16, 0x13, 0x81, 0xb3, 0x3c, 0x91,\n 0x30, 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x04, 0x03, 0x02, 0x30, 0x81, 0xa2, 0x31,\n 0x0b, 0x30, 0x09, 0x06, 0x03, 0x55, 0x04, 0x06,\n 0x13, 0x02, 0x47, 0x42, 0x31, 0x17, 0x30, 0x15,\n 0x06, 0x03, 0x55, 0x04, 0x08, 0x0c, 0x0e, 0x43,\n 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65,\n 0x73, 0x68, 0x69, 0x72, 0x65, 0x31, 0x12, 0x30,\n 0x10, 0x06, 0x03, 0x55, 0x04, 0x07, 0x0c, 0x09,\n 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67,\n 0x65, 0x31, 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55,\n 0x04, 0x0a, 0x0c, 0x07, 0x41, 0x52, 0x4d, 0x20,\n 0x4c, 0x74, 0x64, 0x31, 0x29, 0x30, 0x27, 0x06,\n 0x03, 0x55, 0x04, 0x0b, 0x0c, 0x20, 0x30, 0x31,\n 0x35, 0x38, 0x34, 0x33, 0x65, 0x33, 0x32, 0x65,\n 0x63, 0x39, 0x30, 0x32, 0x34, 0x32, 0x30, 0x61,\n 0x30, 0x31, 0x35, 0x65, 0x30, 0x37, 0x30, 0x30,\n 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x31, 0x29,\n 0x30, 0x27, 0x06, 0x03, 0x55, 0x04, 0x03, 0x0c,\n 0x20, 0x30, 0x31, 0x36, 0x31, 0x64, 0x62, 0x62,\n 0x63, 0x64, 0x64, 0x36, 0x36, 0x30, 0x61, 0x35,\n 0x38, 0x30, 0x61, 0x30, 0x31, 0x30, 0x63, 0x33,\n 0x34, 0x30, 0x33, 0x63, 0x30, 0x30, 0x30, 0x30,\n 0x30, 0x30, 0x1e, 0x17, 0x0d, 0x31, 0x38, 0x30,\n 0x32, 0x32, 0x38, 0x30, 0x39, 0x32, 0x37, 0x32,\n 0x33, 0x5a, 0x17, 0x0d, 0x32, 0x38, 0x30, 0x32,\n 0x32, 0x38, 0x30, 0x39, 0x32, 0x37, 0x32, 0x33,\n 0x5a, 0x30, 0x81, 0xa2, 0x31, 0x0b, 0x30, 0x09,\n 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02, 0x47,\n 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03, 0x55,\n 0x04, 0x08, 0x0c, 0x0e, 0x43, 0x61, 0x6d, 0x62,\n 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68, 0x69,\n 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06, 0x03,\n 0x55, 0x04, 0x07, 0x0c, 0x09, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31, 0x10,\n 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a, 0x0c,\n 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74, 0x64,\n 0x31, 0x29, 0x30, 0x27, 0x06, 0x03, 0x55, 0x04,\n 0x0b, 0x0c, 0x20, 0x30, 0x31, 0x35, 0x38, 0x34,\n 0x33, 0x65, 0x33, 0x32, 0x65, 0x63, 0x39, 0x30,\n 0x32, 0x34, 0x32, 0x30, 0x61, 0x30, 0x31, 0x35,\n 0x65, 0x30, 0x37, 0x30, 0x30, 0x30, 0x30, 0x30,\n 0x30, 0x30, 0x30, 0x31, 0x29, 0x30, 0x27, 0x06,\n 0x03, 0x55, 0x04, 0x03, 0x0c, 0x20, 0x30, 0x31,\n 0x36, 0x31, 0x64, 0x62, 0x62, 0x63, 0x64, 0x64,\n 0x36, 0x36, 0x30, 0x61, 0x35, 0x38, 0x30, 0x61,\n 0x30, 0x31, 0x30, 0x63, 0x33, 0x34, 0x30, 0x33,\n 0x63, 0x30, 0x30, 0x30, 0x30, 0x30, 0x30, 0x59,\n 0x30, 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48,\n 0xce, 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42, 0x00,\n 0x04, 0x44, 0x9c, 0x2c, 0x36, 0xce, 0x5e, 0xf3,\n 0x9b, 0xf7, 0x4d, 0xc0, 0x62, 0x52, 0x3d, 0xa3,\n 0x0f, 0x04, 0xe2, 0x16, 0xcb, 0x48, 0x72, 0x4f,\n 0xb7, 0x91, 0x36, 0x04, 0xee, 0x10, 0xe1, 0xb1,\n 0xce, 0xa6, 0xe5, 0x87, 0xd8, 0xe8, 0x7a, 0x3f,\n 0xe0, 0x83, 0x3e, 0xd7, 0xbd, 0xa4, 0x0b, 0xf7,\n 0x13, 0xa8, 0x3d, 0xd1, 0x79, 0x3f, 0x65, 0xc6,\n 0x69, 0x43, 0xec, 0x41, 0x3b, 0xaa, 0x9c, 0x8b,\n 0xf6, 0xa3, 0x2a, 0x30, 0x28, 0x30, 0x12, 0x06,\n 0x09, 0x2b, 0x06, 0x01, 0x04, 0x01, 0xa0, 0x20,\n 0x81, 0x49, 0x04, 0x05, 0x02, 0x03, 0x40, 0x00,\n 0x91, 0x30, 0x12, 0x06, 0x03, 0x55, 0x1d, 0x13,\n 0x01, 0x01, 0xff, 0x04, 0x08, 0x30, 0x06, 0x01,\n 0x01, 0xff, 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06,\n 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03,\n 0x02, 0x03, 0x49, 0x00, 0x30, 0x46, 0x02, 0x21,\n 0x00, 0xb2, 0x2f, 0x73, 0x48, 0xaf, 0x0d, 0x8e,\n 0x5d, 0xb6, 0x1a, 0x81, 0x07, 0xae, 0xc8, 0x3c,\n 0x42, 0x5c, 0x05, 0x9e, 0xb9, 0x24, 0x3f, 0xd7,\n 0x7a, 0x17, 0x22, 0xc5, 0xb6, 0x6a, 0xa7, 0x76,\n 0xde, 0x02, 0x21, 0x00, 0xa6, 0x54, 0x7c, 0x22,\n 0xb1, 0x83, 0x5c, 0x0a, 0x4a, 0x83, 0xd9, 0x25,\n 0x9c, 0xb4, 0x6d, 0x71, 0x40, 0x7a, 0x34, 0x1d,\n 0x97, 0x8f, 0x01, 0x05, 0xbc, 0x3e, 0xcb, 0x4c,\n 0xce, 0x13, 0x6e, 0xa5 };\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x35, 0x30, 0x82, 0x01, 0xdb,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x10, 0x5c,\n 0x27, 0xa5, 0x76, 0x7d, 0x58, 0x85, 0x8a, 0x43,\n 0x91, 0xa0, 0x61, 0xab, 0xcf, 0xa6, 0x59, 0x30,\n 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x04, 0x03, 0x02, 0x30, 0x72, 0x31, 0x0b, 0x30,\n 0x09, 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02,\n 0x47, 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03,\n 0x55, 0x04, 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68,\n 0x69, 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06,\n 0x03, 0x55, 0x04, 0x07, 0x13, 0x09, 0x43, 0x61,\n 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31,\n 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a,\n 0x13, 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74,\n 0x64, 0x31, 0x24, 0x30, 0x22, 0x06, 0x03, 0x55,\n 0x04, 0x03, 0x13, 0x1b, 0x41, 0x52, 0x4d, 0x20,\n 0x49, 0x6e, 0x74, 0x65, 0x67, 0x72, 0x61, 0x74,\n 0x69, 0x6f, 0x6e, 0x20, 0x42, 0x6f, 0x6f, 0x74,\n 0x73, 0x74, 0x72, 0x61, 0x70, 0x43, 0x41, 0x30,\n 0x20, 0x17, 0x0d, 0x31, 0x37, 0x30, 0x35, 0x31,\n 0x35, 0x31, 0x39, 0x34, 0x39, 0x31, 0x31, 0x5a,\n 0x18, 0x0f, 0x32, 0x30, 0x35, 0x32, 0x30, 0x35,\n 0x31, 0x35, 0x31, 0x39, 0x35, 0x39, 0x31, 0x30,\n 0x5a, 0x30, 0x72, 0x31, 0x0b, 0x30, 0x09, 0x06,\n 0x03, 0x55, 0x04, 0x06, 0x13, 0x02, 0x47, 0x42,\n 0x31, 0x17, 0x30, 0x15, 0x06, 0x03, 0x55, 0x04,\n 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d, 0x62, 0x72,\n 0x69, 0x64, 0x67, 0x65, 0x73, 0x68, 0x69, 0x72,\n 0x65, 0x31, 0x12, 0x30, 0x10, 0x06, 0x03, 0x55,\n 0x04, 0x07, 0x13, 0x09, 0x43, 0x61, 0x6d, 0x62,\n 0x72, 0x69, 0x64, 0x67, 0x65, 0x31, 0x10, 0x30,\n 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a, 0x13, 0x07,\n 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74, 0x64, 0x31,\n 0x24, 0x30, 0x22, 0x06, 0x03, 0x55, 0x04, 0x03,\n 0x13, 0x1b, 0x41, 0x52, 0x4d, 0x20, 0x49, 0x6e,\n 0x74, 0x65, 0x67, 0x72, 0x61, 0x74, 0x69, 0x6f,\n 0x6e, 0x20, 0x42, 0x6f, 0x6f, 0x74, 0x73, 0x74,\n 0x72, 0x61, 0x70, 0x43, 0x41, 0x30, 0x59, 0x30,\n 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce,\n 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42, 0x00, 0x04,\n 0x8b, 0x7c, 0x86, 0xc3, 0x88, 0x54, 0xe6, 0x5f,\n 0xe0, 0x57, 0x4e, 0x1b, 0xac, 0x29, 0x82, 0xea,\n 0x7d, 0x91, 0x00, 0x63, 0xa7, 0x4a, 0x05, 0xbc,\n 0x54, 0xc5, 0x71, 0x27, 0x33, 0x19, 0x1b, 0x2e,\n 0xfa, 0x41, 0xf8, 0x7a, 0x9a, 0x0c, 0x5d, 0xfc,\n 0xb3, 0x37, 0x01, 0x99, 0xc5, 0xc9, 0xbe, 0x78,\n 0x5b, 0x1d, 0xec, 0xb0, 0x1a, 0x1d, 0xdc, 0xe4,\n 0x6f, 0x57, 0x04, 0xf4, 0x3a, 0xca, 0xa8, 0xd2,\n 0xa3, 0x51, 0x30, 0x4f, 0x30, 0x0b, 0x06, 0x03,\n 0x55, 0x1d, 0x0f, 0x04, 0x04, 0x03, 0x02, 0x01,\n 0x86, 0x30, 0x0f, 0x06, 0x03, 0x55, 0x1d, 0x13,\n 0x01, 0x01, 0xff, 0x04, 0x05, 0x30, 0x03, 0x01,\n 0x01, 0xff, 0x30, 0x1d, 0x06, 0x03, 0x55, 0x1d,\n 0x0e, 0x04, 0x16, 0x04, 0x14, 0x13, 0xef, 0x69,\n 0xfa, 0x62, 0x3f, 0x00, 0x86, 0xf4, 0x05, 0xb8,\n 0xb6, 0xe6, 0xb2, 0xf1, 0xdb, 0x69, 0x10, 0xb4,\n 0x39, 0x30, 0x10, 0x06, 0x09, 0x2b, 0x06, 0x01,\n 0x04, 0x01, 0x82, 0x37, 0x15, 0x01, 0x04, 0x03,\n 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06, 0x08, 0x2a,\n 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03, 0x02, 0x03,\n 0x48, 0x00, 0x30, 0x45, 0x02, 0x21, 0x00, 0xa2,\n 0x50, 0x88, 0x0f, 0x55, 0xe8, 0x26, 0x49, 0xe6,\n 0xf5, 0x71, 0x86, 0x33, 0x29, 0x05, 0x4c, 0xf9,\n 0xfd, 0x1f, 0x14, 0x98, 0x92, 0x85, 0xd9, 0x5c,\n 0x48, 0x02, 0x9e, 0xc2, 0x79, 0xa8, 0x59, 0x02,\n 0x20, 0x3e, 0xfe, 0x3c, 0xa0, 0xbf, 0xd3, 0x0f,\n 0x15, 0x83, 0x56, 0xbc, 0xf2, 0xfa, 0x16, 0x26,\n 0x7a, 0xc1, 0x68, 0xaa, 0xbc, 0x91, 0x3c, 0x69,\n 0x44, 0x36, 0xf9, 0x74, 0xa1, 0x82, 0x76, 0x7a,\n 0x6e };\n\nconst uint8_t MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE[] = \n{ 0x30, 0x82, 0x02, 0x30, 0x30, 0x82, 0x01, 0xd5,\n 0xa0, 0x03, 0x02, 0x01, 0x02, 0x02, 0x10, 0x26,\n 0xf9, 0x08, 0xfc, 0xf1, 0xc0, 0x46, 0xa4, 0x4a,\n 0x4d, 0x2c, 0xf1, 0x94, 0x27, 0xf9, 0x1f, 0x30,\n 0x0a, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x04, 0x03, 0x02, 0x30, 0x6f, 0x31, 0x0b, 0x30,\n 0x09, 0x06, 0x03, 0x55, 0x04, 0x06, 0x13, 0x02,\n 0x47, 0x42, 0x31, 0x17, 0x30, 0x15, 0x06, 0x03,\n 0x55, 0x04, 0x08, 0x13, 0x0e, 0x43, 0x61, 0x6d,\n 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x73, 0x68,\n 0x69, 0x72, 0x65, 0x31, 0x12, 0x30, 0x10, 0x06,\n 0x03, 0x55, 0x04, 0x07, 0x13, 0x09, 0x43, 0x61,\n 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67, 0x65, 0x31,\n 0x10, 0x30, 0x0e, 0x06, 0x03, 0x55, 0x04, 0x0a,\n 0x13, 0x07, 0x41, 0x52, 0x4d, 0x20, 0x4c, 0x74,\n 0x64, 0x31, 0x21, 0x30, 0x1f, 0x06, 0x03, 0x55,\n 0x04, 0x03, 0x13, 0x18, 0x41, 0x52, 0x4d, 0x20,\n 0x49, 0x6e, 0x74, 0x65, 0x67, 0x72, 0x61, 0x74,\n 0x69, 0x6f, 0x6e, 0x20, 0x4c, 0x57, 0x4d, 0x32,\n 0x4d, 0x20, 0x43, 0x41, 0x30, 0x20, 0x17, 0x0d,\n 0x31, 0x37, 0x30, 0x32, 0x31, 0x32, 0x31, 0x30,\n 0x33, 0x37, 0x35, 0x32, 0x5a, 0x18, 0x0f, 0x32,\n 0x30, 0x35, 0x32, 0x30, 0x32, 0x31, 0x32, 0x31,\n 0x30, 0x34, 0x37, 0x35, 0x32, 0x5a, 0x30, 0x6f,\n 0x31, 0x0b, 0x30, 0x09, 0x06, 0x03, 0x55, 0x04,\n 0x06, 0x13, 0x02, 0x47, 0x42, 0x31, 0x17, 0x30,\n 0x15, 0x06, 0x03, 0x55, 0x04, 0x08, 0x13, 0x0e,\n 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64, 0x67,\n 0x65, 0x73, 0x68, 0x69, 0x72, 0x65, 0x31, 0x12,\n 0x30, 0x10, 0x06, 0x03, 0x55, 0x04, 0x07, 0x13,\n 0x09, 0x43, 0x61, 0x6d, 0x62, 0x72, 0x69, 0x64,\n 0x67, 0x65, 0x31, 0x10, 0x30, 0x0e, 0x06, 0x03,\n 0x55, 0x04, 0x0a, 0x13, 0x07, 0x41, 0x52, 0x4d,\n 0x20, 0x4c, 0x74, 0x64, 0x31, 0x21, 0x30, 0x1f,\n 0x06, 0x03, 0x55, 0x04, 0x03, 0x13, 0x18, 0x41,\n 0x52, 0x4d, 0x20, 0x49, 0x6e, 0x74, 0x65, 0x67,\n 0x72, 0x61, 0x74, 0x69, 0x6f, 0x6e, 0x20, 0x4c,\n 0x57, 0x4d, 0x32, 0x4d, 0x20, 0x43, 0x41, 0x30,\n 0x59, 0x30, 0x13, 0x06, 0x07, 0x2a, 0x86, 0x48,\n 0xce, 0x3d, 0x02, 0x01, 0x06, 0x08, 0x2a, 0x86,\n 0x48, 0xce, 0x3d, 0x03, 0x01, 0x07, 0x03, 0x42,\n 0x00, 0x04, 0xba, 0xea, 0x80, 0x01, 0x2d, 0xf0,\n 0xe1, 0xb6, 0xc5, 0x5f, 0xf9, 0x76, 0x84, 0x31,\n 0xa9, 0x29, 0xa1, 0xc7, 0xa8, 0xfd, 0xa0, 0xad,\n 0xd9, 0x94, 0xe7, 0xec, 0x5a, 0x33, 0xa1, 0x2c,\n 0x8e, 0x36, 0x43, 0x9b, 0x18, 0xdf, 0xce, 0x71,\n 0x14, 0x24, 0xb1, 0xfb, 0x16, 0x34, 0x0e, 0x43,\n 0xfc, 0x23, 0x77, 0xd4, 0x13, 0xd7, 0x11, 0xaa,\n 0x39, 0x60, 0xab, 0xa2, 0xdf, 0x24, 0xb3, 0xeb,\n 0xa0, 0xc5, 0xa3, 0x51, 0x30, 0x4f, 0x30, 0x0b,\n 0x06, 0x03, 0x55, 0x1d, 0x0f, 0x04, 0x04, 0x03,\n 0x02, 0x01, 0x86, 0x30, 0x0f, 0x06, 0x03, 0x55,\n 0x1d, 0x13, 0x01, 0x01, 0xff, 0x04, 0x05, 0x30,\n 0x03, 0x01, 0x01, 0xff, 0x30, 0x1d, 0x06, 0x03,\n 0x55, 0x1d, 0x0e, 0x04, 0x16, 0x04, 0x14, 0x7b,\n 0xa1, 0xa5, 0x94, 0xa5, 0xe5, 0x8f, 0x95, 0x5d,\n 0xd4, 0xce, 0xdc, 0x0f, 0x8a, 0xbe, 0xad, 0x9a,\n 0x6b, 0x66, 0x3e, 0x30, 0x10, 0x06, 0x09, 0x2b,\n 0x06, 0x01, 0x04, 0x01, 0x82, 0x37, 0x15, 0x01,\n 0x04, 0x03, 0x02, 0x01, 0x00, 0x30, 0x0a, 0x06,\n 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x04, 0x03,\n 0x02, 0x03, 0x49, 0x00, 0x30, 0x46, 0x02, 0x21,\n 0x00, 0xd2, 0x06, 0x28, 0xc5, 0x31, 0x3a, 0x11,\n 0x8d, 0xb6, 0xcb, 0x2b, 0x3f, 0xdd, 0x2a, 0x9a,\n 0x13, 0x30, 0x52, 0x77, 0xaa, 0xda, 0xda, 0xcb,\n 0xce, 0xb9, 0x5c, 0xe4, 0x32, 0x1c, 0x02, 0xfa,\n 0x30, 0x02, 0x21, 0x00, 0xb3, 0x82, 0x24, 0xa2,\n 0xb1, 0x67, 0x6b, 0x69, 0x07, 0x0e, 0xcd, 0x77,\n 0x74, 0x99, 0x06, 0x9c, 0x59, 0xb2, 0x00, 0xc0,\n 0xb3, 0xbb, 0x37, 0x5b, 0xc0, 0x1b, 0xfb, 0xd9,\n 0x70, 0x98, 0xb9, 0x1e };\n\nconst uint8_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY[] = \n{ 0x30, 0x81, 0x93, 0x02, 0x01, 0x00, 0x30, 0x13,\n 0x06, 0x07, 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x02,\n 0x01, 0x06, 0x08, 0x2a, 0x86, 0x48, 0xce, 0x3d,\n 0x03, 0x01, 0x07, 0x04, 0x79, 0x30, 0x77, 0x02,\n 0x01, 0x01, 0x04, 0x20, 0x78, 0xa7, 0x3d, 0xed,\n 0xa0, 0xb5, 0x67, 0x86, 0xa7, 0x89, 0x75, 0x46,\n 0x8c, 0xd4, 0xaf, 0xbd, 0x7c, 0x36, 0x86, 0x5e,\n 0xb3, 0xc0, 0x00, 0x98, 0x22, 0xcf, 0x3c, 0x38,\n 0xa4, 0x31, 0xeb, 0x51, 0xa0, 0x0a, 0x06, 0x08,\n 0x2a, 0x86, 0x48, 0xce, 0x3d, 0x03, 0x01, 0x07,\n 0xa1, 0x44, 0x03, 0x42, 0x00, 0x04, 0x44, 0x9c,\n 0x2c, 0x36, 0xce, 0x5e, 0xf3, 0x9b, 0xf7, 0x4d,\n 0xc0, 0x62, 0x52, 0x3d, 0xa3, 0x0f, 0x04, 0xe2,\n 0x16, 0xcb, 0x48, 0x72, 0x4f, 0xb7, 0x91, 0x36,\n 0x04, 0xee, 0x10, 0xe1, 0xb1, 0xce, 0xa6, 0xe5,\n 0x87, 0xd8, 0xe8, 0x7a, 0x3f, 0xe0, 0x83, 0x3e,\n 0xd7, 0xbd, 0xa4, 0x0b, 0xf7, 0x13, 0xa8, 0x3d,\n 0xd1, 0x79, 0x3f, 0x65, 0xc6, 0x69, 0x43, 0xec,\n 0x41, 0x3b, 0xaa, 0x9c, 0x8b, 0xf6 };\n\nconst char MBED_CLOUD_DEV_MANUFACTURER[] = \"dev_manufacturer\";\n\nconst char MBED_CLOUD_DEV_MODEL_NUMBER[] = \"dev_model_num\";\n\nconst char MBED_CLOUD_DEV_SERIAL_NUMBER[] = \"0\";\n\nconst char MBED_CLOUD_DEV_DEVICE_TYPE[] = \"dev_device_type\";\n\nconst char MBED_CLOUD_DEV_HARDWARE_VERSION[] = \"dev_hardware_version\";\n\nconst uint32_t MBED_CLOUD_DEV_MEMORY_TOTAL_KB = 0;\n\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_SERVER_ROOT_CA_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE_SIZE = sizeof(MBED_CLOUD_DEV_LWM2M_SERVER_ROOT_CA_CERTIFICATE);\nconst uint32_t MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY_SIZE = sizeof(MBED_CLOUD_DEV_BOOTSTRAP_DEVICE_PRIVATE_KEY);\n\n#endif //__MBED_CLOUD_DEV_CREDENTIALS_H__\n'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Invalid access token.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 401
              type: 'invalid_auth'
              message: 'Invalid access token.'
              request_id: '015fee4431fd38c98640fbfb00000000'
        404:
          description: Developer certificate not found with given ID.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 404
              type: 'not_found'
              message: 'Not Found. Not found: 016006724ff53ade90ed948d03c00001'
              request_id: '015fee4431fd38c98640fbfb00000000'

  /v3/server-credentials/bootstrap:
    get:
      summary: Fetch bootstrap server credentials.
      description: |-
        Return bootstrap server credentials for client to connect to bootstrap server.

        **Example:**
        ```
        curl -X GET http://api.us-east-1.mbedcloud.com/v3/server-credentials/bootstrap \
        -H "Authorization: Bearer <access_key>"
        ```
      operationId: getBootstrapServerCredentials
      deprecated: true
      tags:
        - Security and identity - server credentials
      produces:
        - application/json
      responses:
        200:
          description: Bootstrap server credentials fetched successfully.
          schema:
            $ref: '#/definitions/ServerCredentialsResponseData'
          examples:
            'Success':
              object: 'server-credentials'
              id: '015fee4431fd38c98640fbfb00000000'
              etag: '1'
              created_at: '2017-12-11T14:22:20.009Z'
              server_certificate: '-----BEGIN CERTIFICATE-----\nMIICNTCCAdugAwIBAgIQXCeldn1YhYpDkaBhq8+mWTAKBggqhkjOPQQDAjByMQsw\nCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNVBAcTCUNh\nbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIEludGVncmF0\naW9uIEJvb3RzdHJhcENBMCAXDTE3MDUxNTE5NDkxMVoYDzIwNTIwNTE1MTk1OTEw\nWjByMQswCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNV\nBAcTCUNhbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIElu\ndGVncmF0aW9uIEJvb3RzdHJhcENBMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE\ni3yGw4hU5l/gV04brCmC6n2RAGOnSgW8VMVxJzMZGy76Qfh6mgxd/LM3AZnFyb54\nWx3ssBod3ORvVwT0Osqo0qNRME8wCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMB\nAf8wHQYDVR0OBBYEFBPvafpiPwCG9AW4tuay8dtpELQ5MBAGCSsGAQQBgjcVAQQD\nAgEAMAoGCCqGSM49BAMCA0gAMEUCIQCiUIgPVegmSeb1cYYzKQVM+f0fFJiShdlc\nSAKewnmoWQIgPv48oL/TDxWDVrzy+hYmesFoqryRPGlENvl0oYJ2em4=\n-----END CERTIFICATE-----'
              server_uri: 'coaps://coap.us-east-1.mbedcloud.com:5684?aid=015843e32ec902420a015e0700000000'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Invalid access token.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 401
              type: 'invalid_auth'
              message: 'Invalid access token.'
              request_id: '015fee4431fd38c98640fbfb00000000'

  /v3/server-credentials/lwm2m:
    get:
      summary: Fetch LwM2M server credentials.
      description: |-
        Return LwM2M server credentials for client to connect to LwM2M server.

        **Example:**
        ```
        curl -X GET http://api.us-east-1.mbedcloud.com/v3/server-credentials/lwm2m \
        -H "Authorization: Bearer <access_key>"
        ```
      operationId: getL2M2MServerCredentials
      deprecated: true
      tags:
        - Security and identity - server credentials
      produces:
        - application/json
      responses:
        200:
          description: LwM2M server credentials fetched successfully.
          schema:
            $ref: '#/definitions/ServerCredentialsResponseData'
          examples:
            'Success':
              object: 'server-credentials'
              id: '015fee4431fd38c98640fbfb00000000'
              etag: '1'
              created_at: '2017-12-11T14:22:20.009Z'
              server_certificate: '-----BEGIN CERTIFICATE-----\nMIICNTCCAdugAwIBAgIQXCeldn1YhYpDkaBhq8+mWTAKBggqhkjOPQQDAjByMQsw\nCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNVBAcTCUNh\nbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIEludGVncmF0\naW9uIEJvb3RzdHJhcENBMCAXDTE3MDUxNTE5NDkxMVoYDzIwNTIwNTE1MTk1OTEw\nWjByMQswCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNV\nBAcTCUNhbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIElu\ndGVncmF0aW9uIEJvb3RzdHJhcENBMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE\ni3yGw4hU5l/gV04brCmC6n2RAGOnSgW8VMVxJzMZGy76Qfh6mgxd/LM3AZnFyb54\nWx3ssBod3ORvVwT0Osqo0qNRME8wCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMB\nAf8wHQYDVR0OBBYEFBPvafpiPwCG9AW4tuay8dtpELQ5MBAGCSsGAQQBgjcVAQQD\nAgEAMAoGCCqGSM49BAMCA0gAMEUCIQCiUIgPVegmSeb1cYYzKQVM+f0fFJiShdlc\nSAKewnmoWQIgPv48oL/TDxWDVrzy+hYmesFoqryRPGlENvl0oYJ2em4=\n-----END CERTIFICATE-----'
              server_uri: 'coaps://mds.us-east-1.mbedcloud.com:5684?aid=015843e32ec902420a015e0700000000'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Invalid access token.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 401
              type: 'invalid_auth'
              message: 'Invalid access token.'
              request_id: '015fee4431fd38c98640fbfb00000000'

  /v3/server-credentials:
    get:
      summary: Fetch all (Bootstrap and LwM2M) server credentials.
      description: |-
        Return all (bootstrap and LwM2M) server credentials for client to connect to bootstrap or LwM2M server.

        **Example:**
        ```
        curl -X GET http://api.us-east-1.mbedcloud.com/v3/server-credentials \
        -H "Authorization: Bearer <access_key>"
        ```
      operationId: getAllServerCredentials
      tags:
        - Security and identity - server credentials
      produces:
        - application/json
      responses:
        200:
          description: All server credentials fetched successfully.
          schema:
            $ref: '#/definitions/AllServerCredentialsResponseData'
          examples:
            'Success':
              lwm2m:
                certificate: '-----BEGIN CERTIFICATE-----\nMIICMDCCAdWgAwIBAgIQJvkI/PHARqRKTSzxlCf5HzAKBggqhkjOPQQDAjBvMQsw\nCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNVBAcTCUNh\nbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEhMB8GA1UEAxMYQVJNIEludGVncmF0\naW9uIExXTTJNIENBMCAXDTE3MDIxMjEwMzc1MloYDzIwNTIwMjEyMTA0NzUyWjBv\nMQswCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNVBAcT\nCUNhbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEhMB8GA1UEAxMYQVJNIEludGVn\ncmF0aW9uIExXTTJNIENBMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEuuqAAS3w\n4bbFX/l2hDGpKaHHqP2grdmU5+xaM6EsjjZDmxjfznEUJLH7FjQOQ/wjd9QT1xGq\nOWCrot8ks+ugxaNRME8wCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYD\nVR0OBBYEFHuhpZSl5Y+VXdTO3A+Kvq2aa2Y+MBAGCSsGAQQBgjcVAQQDAgEAMAoG\nCCqGSM49BAMCA0kAMEYCIQDSBijFMToRjbbLKz/dKpoTMFJ3qtray865XOQyHAL6\nMAIhALOCJKKxZ2tpBw7Nd3SZBpxZsgDAs7s3W8Ab+9lwmLke\n-----END CERTIFICATE-----'
                url: 'coaps://mds.us-east-1.mbedcloud.com:5684?aid=015843e32ec902420a015e0700000000'
              bootstrap:
                certificate: '-----BEGIN CERTIFICATE-----\nMIICNTCCAdugAwIBAgIQXCeldn1YhYpDkaBhq8+mWTAKBggqhkjOPQQDAjByMQsw\nCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNVBAcTCUNh\nbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIEludGVncmF0\naW9uIEJvb3RzdHJhcENBMCAXDTE3MDUxNTE5NDkxMVoYDzIwNTIwNTE1MTk1OTEw\nWjByMQswCQYDVQQGEwJHQjEXMBUGA1UECBMOQ2FtYnJpZGdlc2hpcmUxEjAQBgNV\nBAcTCUNhbWJyaWRnZTEQMA4GA1UEChMHQVJNIEx0ZDEkMCIGA1UEAxMbQVJNIElu\ndGVncmF0aW9uIEJvb3RzdHJhcENBMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE\ni3yGw4hU5l/gV04brCmC6n2RAGOnSgW8VMVxJzMZGy76Qfh6mgxd/LM3AZnFyb54\nWx3ssBod3ORvVwT0Osqo0qNRME8wCwYDVR0PBAQDAgGGMA8GA1UdEwEB/wQFMAMB\nAf8wHQYDVR0OBBYEFBPvafpiPwCG9AW4tuay8dtpELQ5MBAGCSsGAQQBgjcVAQQD\nAgEAMAoGCCqGSM49BAMCA0gAMEUCIQCiUIgPVegmSeb1cYYzKQVM+f0fFJiShdlc\nSAKewnmoWQIgPv48oL/TDxWDVrzy+hYmesFoqryRPGlENvl0oYJ2em4=\n-----END CERTIFICATE-----'
                url: 'coaps://coap.us-east-1.mbedcloud.com:5684?aid=015843e32ec902420a015e0700000000'
        400:
          description: Bad request.
          schema:
            $ref: '#/definitions/ErrorResponse'
        401:
          description: Invalid access token.
          schema:
            $ref: '#/definitions/ErrorResponse'
          examples:
            'Authentication Error':
              object: 'error'
              code: 401
              type: 'invalid_auth'
              message: 'Invalid access token.'
              request_id: '015fee4431fd38c98640fbfb00000000'

definitions:
  DeveloperCertificateRequestData:
    type: object
    required: [ "name" ]
    properties:
      name:
        type: string
        maxLength: 100
        description: Name of the developer certificate. Must be unique. Maximum 100 characters. Please see [TrustedCertificateReq](https://www.pelion.com/docs/device-management-api/account-management/).
      description:
        x-nullable: true
        type: string
        maxLength: 500
        description: Description for the developer certificate. Maximum 500 characters. Please see [TrustedCertificateReq](https://www.pelion.com/docs/device-management-api/account-management/).

  DeveloperCertificateResponseData:
    type: object
    properties:
        object:
          type: string
          description: 'Entity name: always `trusted-cert`.'
        id:
          type: string
          description: ID that uniquely identifies the developer certificate.
        etag:
          type: string
          description: API resource entity version.
        created_at:
          type: string
          format: date-time
          description: 'Creation UTC time RFC3339.'
        account_id:
          type: string
          description: Account to which the developer certificate belongs.
        name:
          type: string
          description: Name of the developer certificate.
        description:
          type: string
          description: Description for the developer certificate.
          x-nullable: true
        developer_certificate:
          type: string
          description: PEM-format X.509 developer certificate.
        developer_private_key:
          type: string
          description: PEM-format developer private key associated with the certificate.
        security_file_content:
          type: string
          description: Content of the `security.c` file flashed to the device to provide security credentials.

  ServerCredentialsResponseData:
    type: object
    properties:
        object:
          type: string
          description: 'Entity name: always `server-credentials`.'
        id:
          type: string
          description: Unique entity ID.
        etag:
          type: string
          description: API resource entity version.
        created_at:
          type: string
          format: date-time
          description: 'Creation UTC time RFC3339.'
        server_certificate:
           type: string
           description: PEM-format X.509 server certificate used to validate the server certificate received during the TLS/DTLS handshake.
        server_uri:
           type: string
           description: Server URI that the client connects to.

  CredentialsResponseData:
    type: object
    properties:
        certificate:
           type: string
           description: PEM-format X.509 server certificate used to validate the server certificate received during the TLS/DTLS handshake.
        url:
           type: string
           description: Server URI that the client connects to.

  AllServerCredentialsResponseData:
    type: object
    properties:
        bootstrap:
           $ref: '#/definitions/CredentialsResponseData'
        lwm2m:
           $ref: '#/definitions/CredentialsResponseData'

  ErrorResponse:
    type: object
    properties:
      object:
        type: string
        description: 'Entity name: always `error`.'
        default: 'error'
        enum: [ 'error' ]
        example: 'error'
      code:
        type: integer
        format: int32
        description: Response code.
        enum: [400, 401, 404]
        example: 400
      type:
        type: string
        description: Error type.
        enum: [ 'validation_error', 'invalid_token', 'invalid_apikey', 'reauth_required', 'access_denied', 'account_limit_exceeded', 'not_found', 'method_not_supported', 'not_acceptable', 'duplicate', 'precondition_failed', 'unsupported_media_type', 'rate_limit_exceeded', 'internal_server_error', 'system_unavailable' ]
        example: 'validation_error'
      message:
        type: string
        example: 'Error description.'
        description: A human-readable message with detailed info.
      request_id:
        type: string
        description: Request ID.
        pattern: '^[A-Za-z0-9]{32}'
        example: '00005a4e027f0a580a01081c00000000'
      fields:
        type: array
        description: Failed input fields during request object validation.
        items:
          $ref: '#/definitions/Field'

  Field:
    type: object
    properties:
      name:
        type: string
        description: The name of the erroneous field.
        example: 'ID'
      message:
        type: string
        description: A message describing the error.
        example: 'The error message.'
